a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

body {
  background: #577F5D;
}

.display {
  font-size: smaller;
  width: 100%;
  border-spacing: 0;
}

.css_right {
  float: right;
}

.css_left {
  float: left;
}

td.text_right {
  text-align: right;
}

th.text_right {
  text-align: right;
}

th.center {
  text-align: center;
}

.hidden {
  display: none;
}

.toolbar {
  position: relative;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
}

#title {
  position: absolute;
  height: 20px;
  top: 50%;
  margin-top: -10px;
}

#main {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
}

tr.disabled {
  color: #8F8F8F;
}

tr.dead {
  color: #cc0000;
}

tr.zombie {
  color: #cc0000;
}

#menu {
  float: right;
}

.fg-buttonset { margin-right:1.5em; padding-left: 1px; }
.fg-button { font-size: 0.5em;  }

#wrapper {
  display: none;
}

div.workerdetails {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

div.workerdetails table {
  width: 100%;
}

div.worker div {
  margin-bottom: 10px;
  padding: 10px;
}

div.logtimes {
  text-align: center;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

td.logdate {
  padding-right: 10px;
  font-size: smaller;
}

td.logmachine {
  padding-right: 10px;
  font-family: monospace;
}

td.logmessage {
  font-family: monospace;
}

#clearlog {
  float: right;
}

.fg-button {
   outline: 0;
   margin:0 0 0 0;
   padding: .2em .2em;
   text-decoration:none !important;
   cursor:pointer;
   position: relative;
   text-align: center;
   zoom: 1;
   display: inline-block;
   font-size: .6em;
}

span.buttons {
  margin-left: 10px;
  visibility: hidden;
}

