[Unit]
Description=php-fastcgi service
After=mysqld.service nginx.service

[Service]
Type=forking
PIDFile=/var/run/php-fastcgi.pid
EnvironmentFile=/etc/sysconfig/php-fastcgi
ExecStart=/usr/bin/spawn-fcgi -a 127.0.0.1 -p 9000 -P /var/run/php-fastcgi.pid -- /usr/bin/php-cgi -b 127.0.0.1:9000

[Install]
WantedBy=multi-user.target
