# This file is for settings that are specific to your docker local development
# environment. Since these are specific to your local development environment,
# don't check them in.


# ---------------------------------------------
# bughunter settings
# ---------------------------------------------

SISYPHUS_LDAP_SERVER_URI=
SISYPHUS_LDAP_BIND_DN=
SISYPHUS_LDAP_BIND_PASSWORD=
SISYPHUS_LDAP_RESTRICTED_GROUP=
SISYPHUS_SOCORRO_API_TOKEN=
SISYPHUS_DJANGO_SECRET_KEY=
