<div class="detail">
<table>

<tr>
<td>Assertion</td>
<td>
<p>
<%= segmented_search %>
</td>
</tr>

<tr>
<td>
Count
</td>
<td>
<%= count %>
</td>
</tr>

<tr>
<td>
Count
</td>
<td>
<%= count %>
</td>
</tr>

<tr>
<td>
Test
</td>
<td>
<%= test %>
</td>
</tr>

<tr>
<td>
Date
</td>
<td>
<%= datetime %>
</td>
</tr>

<tr>
<td>
Result
</td>
<td>
<a href='/unittest/_design/bughunter/_list/results/by_id?include_docs=true&startkey=["<%= result_id %>"]&endkey=["<%= result_id %>\\u9999"]'><%= result_id %></a>
</td>
</tr>

<tr>
<td>
Location
</td>
<td>
<a href="<%= location_id %>"><%= location_id %></a>
</td>
</tr>

</table>

</div>
