window {
  color: black; 
  background-color: white; 
  height: 600px;
  width:  800px;
}

label {
  font-family: monospace;
}

div#id {
  padding: 1em;
}

#contentSpider { 
  border: 5px solid black; 
  margin: 1em; 
  width: 100%;
}

#output { 
  height: 8em; 
  padding: 0; 
  margin: 0; 
  width: 100%; 
  overflow: hidden; 
}
