<div class="detail">
<table>

<tr>
<td>Valgrind</td>
<td>
<p>
<%= segmented_search %>
</p>
</td>
</tr>

<tr>
<td>
Test
</td>
<td>
<%= test %>
</td>
</tr>

<tr>
<td>
Test Arguments
</td>
<td>
<%= extra_test_args %>
</td>
</tr>

<tr>
<td>
Date
</td>
<td>
<%= datetime %>
</td>
</tr>

<tr>
<td>
Result
</td>
<td>
<a href='/unittest/_design/bughunter/_list/results/by_id?include_docs=true&startkey=["<%= result_id %>"]&endkey=["<%= result_id %>\\u9999"]'><%= result_id %></a>
</td>
</tr>

<tr>
<td>
Location
</td>
<td>
<a href="<%= location_id %>"><%= location_id %></a>
</td>
</tr>

<tr>
<td>&nbsp;</td>
<td>
<a href='/unittest/_design/bughunter/_list/locations/by_location?include_docs=true&startkey=["<%= escaped_location %>"]&endkey=["<%= escaped_location %>\\u9999"]'>Search by Location</a>
</td>
</tr>

</table>

</div>
