<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<!--<html xmlns="http://www.w3.org/1999/xhtml">-->
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>Bughunter</title>
    <link rel="stylesheet" href="/css/Aristo/jquery-ui-1.8.7.custom.css" type="text/css"/>
    <link rel="stylesheet" href="/css/bughunter.css" type="text/css"/>

    <script src="/scripts/jquery-1.6.3.min.js"></script>
    <script src="/scripts/jquery-ui-1.8.13.custom.min.js"></script>

</head>

<body>

   <h1 class="bh-logindino"></h1>
   <!-- Top bughunter panel -->

   <div class="ui-widget ui-widget-content ui-corner-all bh-loginmain">
    <h1 style="text-align:left;">
      <span class="bh-redtext">Bug</span>hunter
    </h1>
    <div class="errormsgs">{% if error_message %}{{ error_message }}{% endif %}</div>
    <form class="bh-loginform" name="loginform" method="post">
      <p>username: <input type="text" name="username" size="30" id="username" style="margin-top:10px;"/></p>
      <p>password: <input type="password" name="password" size="30" id="password"/></p>
      <input type="submit" action="/bughunter/login/" value="log in" class="ui-widget ui-state-default ui-corner-all css-right" style="margin-right:15px;"/>
    </form>
  </div>
</body>
</html>
