<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>Bughunter</title>
    <link rel="stylesheet" href="/css/Aristo/jquery-ui-1.8.7.custom.css" type="text/css"/>
    <link rel="stylesheet" href="/css/datatables.css" type="text/css"/>
    <link rel="stylesheet" href="/css/fg.menu.css" type="text/css"/>
    <link rel="stylesheet" href="/css/bughunter.css" type="text/css"/>
    <link rel="stylesheet" href="/css/ColVisAlt.css" type="text/css"/>

    <script type="text/javascript" src="/scripts/jquery-1.6.3.min.js"></script>
    <script type="text/javascript" src="/scripts/jquery-ui-1.8.13.custom.min.js"></script>
    <script type="text/javascript" src="/scripts/jquery.url.js"></script>
    <script type="text/javascript" src="/scripts/underscore-min.js"></script>
    <script type="text/javascript" src="/scripts/Jit/jit-yc.js"></script>

    <!-- Gives core mootools class functionality to jQuery -->
    <script type="text/javascript" src="/scripts/mootools-core-1.4.0.js"></script>
    <script type="text/javascript" src="/scripts/moo4q/Source/Class.Mutators.jQuery.js"></script>

    <!--<script src="/media/js/datatables/jquery.dataTables.min.js"></script>-->
    <script type="text/javascript" src="/scripts/datatables/jquery.dataTables.js"></script>
    <script type="text/javascript" src="/scripts/datatables/ColVis.js"></script>


    <!-- This version of fg.menu.js has been heavily modified to work in bughunter -->
    <script type="text/javascript" src="/scripts/fg.menu.js"></script>
    <script type="text/javascript" src="/scripts/json2.js"></script>

    <!-- Bughunter classes-->
    <script type="text/javascript" src="/scripts/views/Bases.js"></script>
    <script type="text/javascript" src="/scripts/views/ConnectionsComponent.js"></script>
    <script type="text/javascript" src="/scripts/views/DataAdapterCollection.js"></script>
    <script type="text/javascript" src="/scripts/views/VisualizationCollection.js"></script>
    <script type="text/javascript" src="/scripts/views/BHViewComponent.js"></script>
    <script type="text/javascript" src="/scripts/views/BHViewCollection.js"></script>
    <script type="text/javascript" src="/scripts/views/BughunterPage.js"></script>
</head>

<body>

<input id="bh_start_date" type="hidden" value="{{ start_date|date:"c" }}" />
<input id="bh_end_date" type="hidden" value="{{ end_date|date:"c" }}" />
<input id="bh_current_date" type="hidden" value="{{ current_date|date:"c" }}" />
{% for signal in signals %}
<input id="bh_post_{{ signal.name }}" type="hidden" value="{{ signal.value|safe }}" />
{% endfor %}
<input id="bh_parent_bhview_index" type="hidden" value="{{ parent_bhview_index }}" />

<!-- Nav JSON datastructure -->
{% include 'bughunter.navlookup.html' %}

<!--button for cell context menu-->
<span class="bh-cell-contextanchor hidden">
   <a title="Open Link Options" href="#cellmenu" class="fg-button fg-button-icon-right ui-widget ui-state-default ui-corner-all css-right bh-cell-menu-toggle" style="background:#FFFFFF">
      <span class="ui-icon ui-icon-triangle-2-n-s css-right"></span>
   </a>
</span>

<!--Right Click Context Menu-->
<menu type="context" id="bh_fm_contextmenu">
   <menu type="context" label="Search Bugzilla">
      <menuitem label="Summary" name="bz_sig_summary"></menuitem>
      <menuitem label="Content" name="bz_sig_content"></menuitem>
   </menu>
   <menuitem label="Select Cell Data" name="select"></menuitem>
   <menuitem label="Copy Cell Data" name="copy"></menuitem>
</menu>
<menu type="context" id="bh_url_contextmenu">
   <menu type="context" label="Search Bugzilla">
      <menuitem label="URL" name="bz_url_url"></menuitem>
      <menuitem label="Content" name="bz_url_content"></menuitem>
   </menu>
   <menuitem label="Select Cell Data" name="select"></menuitem>
   <menuitem label="Copy Cell Data" name="copy"></menuitem>
   <menuitem label="Open URL In New Window" name="openurl"></menuitem>
   <menuitem label="Resubmit URL to Bughunter" name="resubmit_url"></menuitem>
</menu>
<menu type="context" id="bh_table_contextmenu">
   <menu type="context" label="Search Bugzilla">
      <menuitem label="Socorro Signature" name="bz_sig_sig"></menuitem>
      <menuitem label="Summary" name="bz_sig_summary"></menuitem>
      <menuitem label="Content" name="bz_sig_content"></menuitem>
   </menu>
   <menuitem label="Search crash-stats" name="cs_sig_con"></menuitem>
   <menuitem label="Select Cell Data" name="select"></menuitem>
   <menuitem label="Copy Cell Data" name="copy"></menuitem>
</menu>

<!-- Connections Modal -->
<div class="bh-connections-modal ui-widget ui-corner-top hidden" title="Open New View">
   <ul>
      <li><a href="#bh_open_new_view_tab">Open New View</a></li>
   </ul>
   <div id="bh_open_new_view_tab">
      <div class="bh-modal-element">Open in: 
         <input class="bh-page-newpane" type="radio" name="open" value="page" checked="checked"/>
         Page
         <input class="bh-page-newpane" type="radio" name="open" value="pane" />
         New Pane
      </div>
      <hr class="bh-horz-line"></hr>
      <div class="bh-modal-element">Choose A View:
         <select id="bh_view_list" size="6"></select>
      </div>
   </div>
</div>
<!-- END Modal -->

<h1 class="bh-dino"></h1>

<!-- Top bughunter panel -->
<div class="ui-widget ui-widget-header ui-corner-top bh-toolbar-base bh-toppanel">
   <div id="userinfo"> logged in as {{ username }} [<a href="/bughunter/logout/">log out</a>] </div>
   <div class="bh-title">
      <span class="bh-redtext">Bug</span>hunter
   </div>
</div>

<!-- Border on bottom of top panel -->
<div class="ui-widget ui-widget-header ui-corner-bottom bh-toolbar-base bh-toolbar-border"></div>

<!-- Main attachment site for all bh views -->
<div id="bh_view_container"></div>

<!-- END VISIBLE BODY -->

<!--Cloned Elements-->
<div id="bh_view_wrapper_c" class="ui-helper-clearfix hidden">

   <div id="bh_spinner_c" class="bh-spinner ui-widget"></div>

   <div id="bh_view_c" style="height:350px;" class="hidden">
      <!-- View Container -->
      <div id="bh_topbar_c" class="ui-widget ui-toobar ui-corner-all bh-toolbar-base bh-toolpanel hidden">
         <!-- View Top Menu Bar -->
         <div class="fg-toolbar ui-toolbar ui-widget-header ui-corner-top bh-viewtext ui-helper-clearfix">

            <a id="bh_closetable_bt_c" class="css-right bh-viewbutton fg-button ui-state-default fg-button-icon-left ui-corner-all" href="#closetable" title="Close">
               <span class="css-right ui-icon ui-icon-closethick"></span>
            </a>
            <a id="bh_newwindow_bt_c" class="css-right bh-viewbutton fg-button ui-state-default fg-button-icon-left ui-corner-all" href="#newwindow" title="Move To New Window">
               <span class="css-right ui-icon ui-icon-extlink"></span>
            </a>
            <a id="bh_refresh_bt_c" class="css-right bh-viewbutton fg-button ui-state-default fg-button-icon-left ui-corner-all" href="#refresh" title="Refresh">
               <span class="css-right ui-icon ui-icon-refresh"></span>
            </a>
            <a id="bh_help_bt_c" class="css-right bh-viewbutton fg-button ui-state-default fg-button-icon-left ui-corner-all" href="#help" title="Help">
               <span class="css-right ui-icon ui-icon-help"></span>
            </a>
            <a id="bh_openwindow_bt_c" class="css-right bh-viewbutton fg-button ui-state-default fg-button-icon-left ui-corner-all" href="#openwindow" title="Open New View">
               <span class="css-right ui-icon ui-icon-newwin"></span>
            </a>
            <a id="bh_increasesize_bt_c" class="css-right bh-viewbutton fg-button ui-state-default fg-button-icon-left ui-corner-all" href="#increasesize" title="Increase View Panel Size">
               <span class="css-right ui-icon ui-icon-circle-plus"></span>
            </a>
            <a id="bh_decreasesize_bt_c" class="css-right bh-viewbutton fg-button ui-state-default fg-button-icon-left ui-corner-all" href="#decreasesize" title="Decrease View Panel Size">
               <span class="css-right ui-icon ui-icon-circle-minus"></span>
            </a>

            <a id="bh_visualization_c" tabindex="0" href="#" class="fg-button fg-button-icon-right ui-widget ui-state-default ui-corner-all css-right bh-flatmenu" style="background:#FFFFFF">
               <span>Visualization</span><span class="ui-icon ui-icon-triangle-2-n-s css-right"></span>
            </a>
            <ul id="bh_vis_menu_c" class=" hidden">
               <li id="bh_vis_li_clone" style="display:none;"><a href="#" class=""></a></li>
            </ul>
            <span style="margin-right:5px;" class="fg-toolbar css-right">Parent:<span id="bh_parent_display_c">None</span></span>
            <span style="margin-right:5px;" class="fg-toolbar css-right">View:<span id="bh_view_display_c">1</span></span>

            <a id="bh_nav_menu_c" tabindex="0" href="#" class="fg-button fg-button-icon-right ui-widget ui-state-default ui-corner-all css-left" style="background:#FFFFFF;">
               <span class="">View Navigation</span><span class="ui-icon ui-icon-triangle-2-n-s css-right"></span>
            </a>

            <a id="bh_control_panel_c" tabindex="0" href="#" class="fg-button fg-button-icon-right ui-widget ui-state-default ui-corner-all  css-left" style="background:#FFFFFF;">
               <span class="">Control Panel</span><span class="ui-icon ui-icon-triangle-2-n-s css-right"></span>
            </a>

            <span class="fg-toolbar css-left " style="margin-left:5px;"><span id="bh_view_title_c"></span></span>
         
         </div>

         <div class="fg-toolbar ui-toolbar ui-widget-header ui-corner-top bh-viewtext ui-helper-clearfix">
            <div class="css-left">
               <span class="display">Signals:</span><span class="display" style="margin-left:5px;">Range:</span><span class="display" id="bh_signal_date_range_c"></span>
               <span class="bh-signal-title" style="margin-left:5px;">Sent:</span><span class="display" id="bh_signal_data_sent_c"></span>
               <span class="bh-signal-title" style="margin-left:5px;">Received:</span><span class="display" id="bh_signal_data_received_c"></span>
            </div>
            <span id="bh_signal_help_bt_c" class="css-right ui-icon ui-icon-help" title="Help"></span>
         </div>
        
         <div id="bh_table_nodata_c" class="bh-nodata hidden ui-helper-clearfix"></div>
         <div id="bh_table_spinner_c" class="bh-spinner ui-widget ui-helper-clearfix"></div>

         <div id="bh_vis_container_c" style="display:none;" class="ui-helper-clearfix">
            <div id="bh_vis_graph_c" style="float:left;"></div> 
            <div id="bh_vis_details_c" class="ui-widget ui-corner-all bh-vis-detail">
               <div class="ui-state-highlight ui-corner-all bh-vis-detail-panel">
                  <h2 style="text-align:center;">Data Detail</h2>
               </div>
               <div class="ui-state-highlight ui-corner-all bh-vis-detail-panel">
                  <p><strong>NOTE</strong>:&nbsp;Select any slice to see the data detail.  Select the innermost slices to send signals to other data views.</p>
               </div>
               <div class="ui-state-highlight ui-corner-all bh-vis-detail-panel">
                  <strong><span id="bh_primary_detail_label_c">Signature</span>:</strong>&nbsp;Total Count&nbsp;<span id="bh_count_detail_c" style="color:#225186;"></span>
                  <hr class="bh-light-horz-line" style="margin-top:10px; margin-bottom:10px;" />
                  <div id="bh_signature_detail_c" style="overflow:auto;"></div>
               </div>
               <div class="ui-state-highlight ui-corner-all bh-vis-detail-panel">
                  <strong><span id="bh_secondary_detail_label_c">Fatal Message</span></strong>
                  <hr class="bh-light-horz-line" style="margin-top:10px; margin-bottom:10px;" />
                  <div id="bh_message_detail_c" style="overflow:auto;"></div>
               </div>
               <div class="ui-state-highlight ui-corner-all bh-vis-detail-panel">
                  <strong>Platform</strong>
                  <hr class="bh-light-horz-line" style="margin-top:10px; margin-bottom:10px;" />
                  <div id="bh_platform_detail_c" style="color:#225186; overflow:auto;"></div>
               </div>
            </div> 
         </div>
      </div>
      <table id="bh_tview_c" cellpadding="0" cellspacing="0" border="0" class="display"></table>
   </div>
</div>
<div id="bh_spacer_c" class="ui-helper-clearfix" style="height:10px;"></div>


</body>
</html>
