<!DOCTYPE HTML>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>Administration - Bughunter</title>
  </head>
  <body>
    <h1>Administration - Bughunter</h1>

    <table summary="Worker status summary">
      <caption>Worker Summary</caption>
    <thead>
      <tr>
      <th>OS Version CPU</th>
      <th>Builders</th>
      <th colspan="2">CrashTesters</th>
      <th colspan="2">UnitTesters</th>
      </tr>
    </thead>
    <tbody>
      {% for worker_data in worker_data_list %}
      <tr>
        <td>{{ worker_data.worker_key }}</td>
        <td>{{ worker_data.builder_active }}/{{ worker_data.builder_total }}</td>
        <td>{{ worker_data.crashtest_active }}/{{ worker_data.crashtest_total }}</td>
        <td>{{ worker_data.crashtest_jobs }}/hr</td>
        <td>{{ worker_data.unittest_active }}/{{ worker_data.unittest_total }}</td>
        <td>{{ worker_data.unittest_jobs }}/hr</td>
      </tr>
      {% endfor %}
    </tbody>
    </table>

    <div><a href="/bughunter/admin/workers/">View all workers</a></div>
    <div><a href="/bughunter/">Return to home</a></div>
  </body>
</html>
